<link rel="stylesheet" href="/static/css/header.css">
<header>
     <ul class="ul_margin">
      <li class="header_li"><a class="header_a" href="/list">task list</a></li>
      <li class="header_li"><a class="header_a" href="/api">api連携</a></li>
      <li class="header_li"><a class="header_a" href="/blog">blog</a></li>
      <li class="header_li"><a class="header_a" href="/">TOP</a></li>
      <li class="header_li"><a class="header_a" href="/news">news</li>
      <li class="header_li"><a class="header_a" href="/logout">Log out</a></li>
    </ul>
</header>